*~
*#
*.swp

**/*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

**/.coverage
**/.coverage.*
**/.cache
**/.pytest_cache
**/.mypy_cache
**/.aws-sam
**/.vscode
**/deploy.sh
**/packaged.yaml

**/doc/_apidoc/
**/build
**/samconfig.toml
